@use 'variaveis';

.casting {
    margin: 10px auto;
    max-width: 90%;
    padding: 10px;

    &__list {
      display: grid;
      grid-template-columns: repeat(4,25%);
      gap: 24px; 
      list-style: none;
      margin-bottom: 64px;
      padding: 40px;
      
      &__image {
        width: 100%; 
        max-width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius:50%;
        margin-bottom: 8px;
      }
  
      
    }
  }
  