@use 'header';
@use 'cast';
@use 'variaveis';
@use 'footer';
@use 'trailler';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color:variaveis.$corDeFundoPrincipal;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
    background-color: variaveis.$corDeFundoSecundaria;

    @media (max-width: 1024px) {
        padding: 10px; 
    }
    
    @media (max-width: 768px) {
        position: relative; 
        padding: 8px;
    }

}
    
    section.logo {
        margin-top: 40px;
    
        @media (max-width: 1024px) {
            margin-top: 20px;
        }
        
        @media (max-width: 768px) {
            margin-top: 10px;
        }
    
    }
    

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: calc(#{$fontSize} + 10px);
    color:variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 28px) {
    @include text($fontSize);
    line-height: calc(#{$fontSize} + 10px);
    color:variaveis.$corTextoSecundario;
}

.text--big {
    @include text(18px);

    @media (max-width: 1024px) {
        @include text(16px);
    }

    @media (max-width: 768px) {
        @include text(14px);
    }
}

.text {
    @include text;

    @media (max-width: 1024px) {
        @include text(14px);
    }

    @media (max-width: 768px) {
        @include text(12px);
    }
}

.title--big {
    @include title(44px);

    @media (max-width: 1024px) {
        @include title(36px);
    }

    @media (max-width: 768px) {
        @include title(28px);
    }
}

.title {
    @include title;

    @media (max-width: 1024px) {
        @include title(32px);
    }

    @media (max-width: 768px) {
        @include title(24px);
    }
}